body {
	background-color:#d3d4d4;
	margin:0;
}

.wrapper {
	width:80%;
	margin-left:10%;
	margin-right:10%;
	font-family: 'Source Sans Pro', sans-serif;
}

.content {
	overflow:auto;
	width:100%;
	background-color:white;
	padding-top: 2%;
	padding-bottom:2%;
	margin-bottom:0;
	margin-top:0;
}

.head {
	background-color:white;
	font-family: 'Montserrat', sans-serif;
	overflow:auto;
	margin-top:0;
	padding-top: 1%;
	padding-bottom:1%;
}

.head1 {
	float:left;
	margin-left:1%;
	width:20%;
	position:relative;
}

.head2 {
	position:relative;
	margin-left:2%;
	background-color:white;
	float:left;
	float:bottom;
	width:77%;
	font-size:1em;
	padding-top:2%;
	padding-bottom:0;
}

.main-nav {
	background-color:#b7363c;
	margin-top:0;
	margin-bottom:0;
	padding-top:0.5%;
	padding-bottom:0.5%;
	text-align:left;
}


nav li {
	display:inline;
	padding-right: 2%;
	padding-left: 2%;
	font-size:1.3em;
}

nav a:link, nav a:visited {
	color: white;
	text-decoration: none;
	
}
nav a:hover{
	color:#d3d4d4;
	text-decoration: none;
}

section.search {
	color:white;
	background:url("stacks-large.jpg");
	background-repeat:no-repeat;
	padding-left:4%;
	padding-right:4%;
	padding-top:2%;
	padding-bottom:2%;
	border-radius: 5px;
	width:80%;
	margin-left:6%;
	margin-right:6%;
	margin-bottom:2%;
}

/*image from https://www.flickr.com/photos/heipei/7509061378/in/photostream/ */

.search input[type="search"] {
	font-family: 'Source Sans Pro', sans-serif;
	color:#1D2326;
	border-radius:2px;
	width:75%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid white;
	font-size: 1em;
}

.search input[type="submit"] {
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#d3d4d4;
	color:#1D2326;
	border-radius:2px;
	width:15%;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	border: 1px solid #d3d4d4;
	font-size: 1em;
	margin-left:0;
}

.content {
	background-color:white;
	width:100%;
}

.column1 {
	color:#1D2326;
	width:28.3333333333%;
	float:left;
	margin-left:5%;
	margin-right:1.25%;
	background-color:#f27445;
	border-radius: 5px;
	text-align:center;
}

.column2 {
	color:#1D2326;
	width:28.3333333333%;
	float:left;
	margin-left:1.25%;
	margin-right:1.25%;
	background-color:#f9a734;
	border-radius: 5px;
	text-align:center;
	
}

.column3 {
	color:#1D2326;
	width:28.3333333333%;
	float:left;
	margin-left:1.25%;
	margin-right:5%;
	background-color:#ffdf40;
	border-radius: 5px;
	text-align:center;
}

.columns a:link, columns a:visited{
	text-decoration:none;
	color:#4a4a4b;
}

.columns a:hover{
	text-decoration:underline;
	color:#4a4a4b;
}

.columns ul{
	list-style-type:none;
}

footer {
	background-color:#1D2326;
	padding:1%;
	margin-top:0;
	margin-bottom:0;
	overflow:auto;
}

footer a:link, footer a:visited {
	color:#d3d4d4;
	text-decoration: none;
}

footer a:hover{
	color:white;
	text-decoration: none;
}

.site-map{
	margin-left:auto; 
    margin-right:auto;
}

.site-map th{
	text-align:left;
	padding-top:3%;
	padding-left:2%;
	padding-right:2%;

}

.site-map td{
	padding-top:1%;
	padding-bottom:1%;
	padding-right:2%;
	padding-left:2%;
}

.social {
	width:100%;
	padding-top:0.5%;
}

.social ul {
	vertical-align:center;
	width:50%;
	margin-left:40%;
	margin-right:10%;
}
.social li{
	display:inline;
	vertical-align:center;
}

img {
	max-width:100%;
}

/*about page*/

aside {
	float:left;
	width:15%;
	padding-top: 2%;
	padding-right:2%;
	margin-right:2%;
	
}

.about {
	float:left;
	width:65%;
	padding-left:3%;
}

.small-nav a:link, .small-nav a:visited{
	text-decoration:none;
	color:#4a4a4b;
}

.small-nav a:hover{
	text-decoration:underline;
	color:#4a4a4b;
}

.small-nav ul{
	list-style-type:none;
}

/*media queries*/


@media only screen and (min-width : 70px) and (max-width:480px){
	
.head1 {
	width:100%;
	margin: 0 auto;
}

.head2 {
	width:100%;
	font-size:0.5em;
	text-align:center;
}

nav li {
	display:block;
	list-style-type:none;
	padding-right: 2%;
	padding-left: 2%;
	font-size:1em;
	text-align:left;
}

.main-nav {
	padding:1%;
	
}

section.search {
	background:url("stacks-small.jpg");
	
}

.search input[type="search"] {
	width:55%;
	font-size: 0.95em;
}	

.search input[type="submit"] {
	width:40%;
	font-size: 0.95em;
}

.column1 {
	width:96%;
	margin:2%;
	font-size: 0.95em;
}

.column2 {
	width:96%;
	margin:2%;
	font-size: 0.95em;
}

.column3 {
	width:96%;
	margin:2%;
	font-size: 0.95em;
}

.site-map{
	visibility:hidden; 
    display:none;
}

.social ul{
	float:left;
	display:inline;
	margin:0;
}

aside {
	width:96%;
	padding-top: 1%;
	padding-left: 1%;
	margin:2%;
}
	
.about {
	width:94%;
	margin:2%;
	padding-left:2%;
	padding-right:2%
}

}	

@media only screen and (min-width : 480px) and (max-width : 768px){

section.search {
	background:url("stacks.jpg");
}

.search input[type="search"] {
	width:60%;
}	

.search input[type="submit"] {
	width:30%;
}

.column1 {
	width:46%;
	margin:2%;
}

.column2 {
	width:46%;
	margin:2%;
}

.column3 {
	width:96%;
	margin:2%;
}	

aside {
	width:96%;
	padding-top: 1%;
	padding-left: 1%;
	margin:2%;
}
	
.about {
	width:94%;
	margin:2%;
	padding-left:2%;
	padding-right:2%;
}	
}

/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif; */
