/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: auto;
    max-width: 60em;
    background-color: #fff;
}

section,
footer {
    border: 1px solid black;
    background-color: #fff;
}



header {
    position: relative;
}

.global-header {
    text-align: center;
    font-size: 1em;
    /* background-image: url(../images/wit-logo.svg);
    background-repeat: no-repeat;
    background-position: left center ;
    background-origin: border-box;
    background-size: 1.5em;
    margin-left: .5em; */
    position: relative;
}

.global-header:before {
    content: '';
    padding: 1em;
    margin-right: .5em;
    background-image: url(../images/wit-logo.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: border-box;
}

.global-nav {
    text-align: center;
}

.global-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 1em;
    margin: 1px 0;
}

.global-nav li a:hover {
    text-decoration: underline;
}

section{margin-top:1em;}

main {
    padding: 1em;
}

main li{margin-top: 1em;}

.search-blaster {
    text-align: center;
    background-color: rgb(205, 205, 205);
    border: none;
}

#ebscohostsearchtext {}

.ebscohost-search-button {}

.bucket {
    background-color: rgba(200, 0, 100, 0.96);
    color: #fff;
    padding: 5%;
    position: relative;
    display: block;
}

.bucket a {
    color: #fff;
}

.container {
    position: relative;
    display: block;
}

footer {
    clear: both;
    background-color: rgba(0, 0, 0, .6);
}

footer a {
    color: #FFF;
}
footer li {margin-top: 1em;}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 29em) {
    /*screen must be this large */
    main {
        background: url(../images/hero1.jpg) no-repeat center top fixed;
        background-size: cover;
        padding-top: 5%;
    }
    .global-header {
        font-size: 1.5em;
        text-align: center;
    }
    .global-nav li {
        display: inline-block;
    }
    .global-nav li a {
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: .25em 1em;
        /*border-width:0 1px 0 0 ; 
        border-style: solid; 
        border-color:#444; */
    }
    #ebscohostsearchtext {
        font-size: 1.5em;
    }
    .ebscohost-search-button {
        font-size: 1.5em
    }
    
    .container{margin-top:6%;}
}
@media only screen and (min-width: 41.25em) {
    .container {
        text-align: center;
        
    }
    .bucket {
        margin: 1em;
        padding: 2%;
        text-align: left;
        width: 39%;
        vertical-align: top;
        display: inline-block;
        min-height: 22em;
    }
}

@media only screen and (min-width: 46.875em) {
    .global-header {
        text-align: left;
        margin-left: 1em;
        margin-bottom: -.01em;
    }
    .global-nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
    .global-nav li {
        margin: 0;
        padding: 0;
    }
    .global-nav li a {
        padding: .344em .5em;
    }
}

@media only screen and (min-width: 60em) {
    /*screen must be this large */
    .global-header {
        font-size: 2em;
    }
    .global-nav li a {
        padding: .688em 1em;
    }
    #ebscohostsearchtext {
        font-size: 2em;
    }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}