/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    width:100%;
    height: 100%;
    
    
}

.page-container {
    margin: auto;
    max-width: 60em;}

header {
    
    position: relative;
}

section {
    
    padding:1em;
}


.global-header {
    text-align: center;
    font-size: 1em;
    position: relative;
}

.global-header a {color:inherit; text-decoration: none}

.global-header:before {
    content: '';
    padding: 1em;
    margin-right: .5em;
    background-image: url(../images/wit-logo.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: border-box;
}

.global-nav {
    text-align: center;
}

.global-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-nav li a {
    display: block;
    color: #000;
    padding: 1em;
    margin: 1px 0;
    text-decoration: none;
}

.global-nav li a:hover {
    text-decoration: underline;
}

.content {
    border-top: 1px solid #aaa;
    margin-top: 1em;
}

.introduction {
    font-size: 1.18em
}

dt {
    display: inline-block;
    width: 20%;
    margin: 1em;
    vertical-align: top;
}

dd {
    display: inline-block;
    width: 50%;
    margin: 1em;
}

#ebscohostCustomSearchBox {
    border-radius: 5px;
}

.search-query {
    overflow: hidden;
}

#ebscohostsearchtext {
    width: 100%;
    padding: 12px 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ebscohost-search-button {
    background-color: orange;
    float: right;
    height: 44px;
    border: none;
    color: white;
    padding: .5em 4%;
    font-size: 1em;
    border-radius: 0 4px 4px 0;
}

.ebscohost-search-button:active {
    background-color: rgb(189, 100, 200);
}


.bucket-heading {
    border-bottom: 1px solid;
    margin-top:0;
}

.bucket {
    padding: 5%;
    color: #fff;
}


#hours-events {
    background-color: rgba(200, 150, 200, .96);
}

#quick-contact {
    background-color: rgba(100, 153, 200, 0.96);
}

#quick-links {
    background-color: rgba(153, 200, 100, 0.96);

}
#news-events {background-color: rgba(200, 170, 100, 1);}

footer {
    background-color: rgba(50, 50, 50, 1);
    padding: 1em;
}

.bucket ul,
.footer-links ul {
    padding-left: 0;
}

.bucket li,
.footer-links li {
    list-style-type: none;
    margin-top:1em;
}

.bucket a {
    color: #fff;
}

.footer-links {
    color: #eee;
}
.footer-links a {
    color: #aaa;
    text-decoration: none;
}



.footer-links a:hover {
    color: #ccc;
    text-decoration: underline;
}

.institute-footer {
    clear: left;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 29em) {
    /*screen must be this large */
    .hero {
        background: url(../images/hero1-small.jpg) no-repeat center top fixed;
        background-size: auto 100% ;
        padding-top: 5%;
    }
    .global-header {
        font-size: 1.5em;
        text-align: center;
    }
    .global-nav li {
        display: inline-block;
    }
    .global-nav li a {
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: .25em 1em;
    }
}

@media only screen and (min-width: 41.25em) {
    
    .hero {
        background: url(../images/hero1.jpg) no-repeat center top fixed;
        background-size: auto 100% ;
        padding-top: 5%;
    }
.container {
        text-align: center;
         
    }
    
    .bucket {
        margin: -1%;
        padding:2%;
        text-align: left;
        width: 28%;
        vertical-align: top;
        display:inline-block;
        color: #fff;
        height:20em; 
        
        
    }
    
}

@media only screen and (min-width: 46.875em) {
    .global-header {
        text-align: left;
        margin-left: 1em;
        margin-bottom:0;
    }
    .global-nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
    }
    .global-nav li {
        margin: 0;
        padding: 0;
    }
    .global-nav li a {
        padding: .344em .5em;
    }
    
    .bucket {
    
        margin: 1%;
        padding:2%;

        width: 25%;
        
        height:20em; 
        
    }
    
    .library-footer {
        position: relative;
    }
    .footer-links {
        margin-right: 2%;
        display: inline-block;
        width: 30%;
        vertical-align: top;
        position: relative;
    }
}

@media only screen and (min-width: 60em) {
    /*screen must be this large */
    .global-header {
        font-size: 2em;
    }
    .global-nav li a {
        padding: .688em 1em;
    }
    #ebscohostsearchtext {
        font-size: 2em;
    }
    .ebscohost-search-button {
        height: 63px
    }
    
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}